{{ if .Site.Params.versions -}}
<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
   {{ .Site.Params.version_menu }}
</a>
<div class="dropdown-menu" aria-labelledby="navbarDropdown">
   <div w3-include-html="/genai-toolbox/releases.releases" w3-include-html-default='<a class="dropdown-item" href="/genai-toolbox/dev/">Dev</a>'></div>
   <script>
      function deepRouteLink() {
        const currentPath = window.location.pathname;
        const versionRegex = /(\/genai-toolbox\/(v\d+\.\d+\.\d+|dev)\/)/;
        const versionMatch = currentPath.match(versionRegex);

        if (!versionMatch) {
          return;
        }

        const deepPath = currentPath.substring(versionMatch[0].length);
        const versionLinks = document.querySelectorAll('.dropdown-menu[aria-labelledby="navbarDropdown"] .dropdown-item');

        versionLinks.forEach(link => {
          link.href = link.href + deepPath;
        });
      }

      w3.includeHTML(deepRouteLink);
   </script>
</div>
{{ end -}}
